<!DOCTYPE html>
<html>
  <head>
    <title>Tumbot</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Tumbot</h1>
    <p>Welcome to Tumbot</p>
  </body>
</html>
